/www/download/**
/www/favicon.ico
/www/images/**

/src/source/**
/src/work/**
/src/*.iso

/src/experimental/glibc-toybox/source/**
/src/experimental/glibc-toybox/work/**
/src/experimental/glibc-toybox/*.iso

/src/experimental/musl-busybox/source/**
/src/experimental/musl-busybox/work/**
/src/experimental/musl-busybox/*.iso

/src/experimental/musl-toybox/source/**
/src/experimental/musl-toybox/work/**
/src/experimental/musl-toybox/*.iso

