/www/download/**
/www/favicon.ico
/www/images/**

/src/source/**
/src/work/**
/src/*.iso

/src/experimental/toybox/source/**
/src/experimental/toybox/work/**
/src/experimental/toybox/*.iso

/src/experimental/musl/source/**
/src/experimental/musl/work/**
/src/experimental/musl/*.iso

