html,
body {
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  html.dark,
  body.dark {
    background-color: #000; }
    html.dark .header .heading,
    body.dark .header .heading {
      color: #fff; }

*:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 50px; }

@media screen and (max-width: 768px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px; } }

.header {
  max-width: 1200px;
  margin: 20px 0; }
  .header .heading {
    font-family: monospace;
    font-size: 24px;
    line-height: 24px;
    font-weight: 200;
    text-align: center;
    margin: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .header .heading.mini {
      font-size: 14px;
      line-height: 14px;
      opacity: 0.6; }
  .header .light-btn {
    position: fixed;
    top: 25px;
    right: 25px;
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #fff;
    border: 1px solid #f1c40f;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    overflow: hidden; }
    .header .light-btn svg {
      -webkit-transform: scale(0.65);
              transform: scale(0.65); }
    .header .light-btn polygon, .header .light-btn path {
      fill: #f1c40f; }
    .header .light-btn:hover {
      background-color: #f1c40f; }
      .header .light-btn:hover polygon, .header .light-btn:hover path {
        fill: #fff; }
    .header .light-btn.dark {
      background-color: #000; }
      .header .light-btn.dark polygon, .header .light-btn.dark path {
        fill: #f1c40f; }
      .header .light-btn.dark:hover {
        background-color: #f1c40f; }
        .header .light-btn.dark:hover polygon, .header .light-btn.dark:hover path {
          fill: #fff; }

.screen-container {
  max-width: 100%;
  background-color: #000;
  overflow-x: scroll;
  padding: 0 20px;
  border: 1px solid #111; }
  .screen-container .emulator-screen {
    margin: 10px 0; }
    .screen-container .emulator-screen .console {
      font-family: monospace;
      font-size: 16px;
      line-height: 18px;
      white-space: pre;
      min-width: 770px; }
  .screen-container input {
    margin: 0 0 10px;
    width: 100%; }

.footer {
  max-width: 1200px;
  margin: 20px 0; }
  .footer .info {
    font-family: monospace;
    font-size: 12px; }
